<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../assets/styles/app.css">
	</head>
	<body>

		<div class="cd_stage"> <!-- container-fluid -->
			<div class="cd_template--component-library">  <!-- row -->
				<div class="cd_main-content">  <!-- conlumn 9 -->
				<div class="cd_header">
					<h1 class="cd_header__title">Pattern Examples</h1>
				</div>

				<div class="cd_section--abstract">  <!-- row -->
					<p class="cd_summary">  <!-- column 12 -->
						A little blurb about this being a really cool live style guide designed using the Atomic Design Methodology, BEM Sass, and the Cordial Framework.
					</p>
				</div>

				<div class="cd_component-group">
					<h3 class="cd_component-group__title">Colors</h3>
					<div class="cd_component">
						<h3 class="cd_component__title">Brand Colors</h3>
						<ul class="cd_color-list">
							<li class="cd_color-list__item">
								<div class="cd_color">
									<div class="cd_color__block cd_color__block--brand-primary"></div>
									<h3 class="cd_color__title">
										Brand Primary
									</h3>
									<p class="cd_color__hex-value">
										Hex #2F83B3
									</p>
									<p class="cd_color__rgba-value">
										RGBa 0, 0, 0, 1
									</p>
								</div>
							</li>
							<li class="cd_color-list__item">
								<div class="cd_color">
									<div class="cd_color__block cd_color__block--brand-secondary"></div>
									<h3 class="cd_color__title">
										Brand Secondary
									</h3>
									<p class="cd_color__hex-value">
										Hex #1E2E3C
									</p>
									<p class="cd_color__rgba-value">
										RGBa 0, 0, 0, 1
									</p>
								</div>
							</li>
						</ul>
					</div>
				</div>

				<div class="cd_component-group">
					<h3 class="cd_component-group__title">Typefaces & Fonts</h3>
					<div class="cd_component">
						<h3 class="cd_component__title">Font Name</h3>
						<ul class="cd_font-list">
							<li class="cd_font-list__item">
								<div class="cd_font">
									<h1 class="cd_font__big-a">
										Aa
									</h1>
									<p class="cd_font__alphabet-lower">
										a b c d e f g h i j k l m n o p q r s t u v w x y z
									</p>
									<p class="cd_font__alphabet-upper">
										a b c d e f g h i j k l m n o p q r s t u v w x y z
									</p>
									<h4 class="cd_font__title">
										Font Name, Size
									</h4>
								</div>
							</li>
							<li class="cd_font-list__item">
								<div class="cd_font">
									<h1 class="cd_font__big-a">
										Aa
									</h1>
									<p class="cd_font__alphabet-lower">
										a b c d e f g h i j k l m n o p q r s t u v w x y z
									</p>
									<p class="cd_font__alphabet-upper">
										a b c d e f g h i j k l m n o p q r s t u v w x y z
									</p>
									<h4 class="cd_font__title">
										Font Name, Size
									</h4>
								</div>
							</li>
						</ul>
					</div>
				</div>

				<div class="cd_component-group">
					<h3 class="cd_component-group__title">Typography</h3>
					<div class="cd_component">
						<h3 class="cd_component__title">Component Title</h3>
						<div class="COMPONENT-NAME cd_component__instance">
							Fake component.
						</div>
						<div class="cd_component__markup-display">
							<pre><code class="language-markup"><script> --- </script></code></pre>
						</div>
						<div class="cd_component__style-display">
							<pre><code class="language-css">[Sass]</code></pre>
						</div>
					</div>
				</div>

				<div class="cd_component-group">
					<h3 class="cd_component-group__title">Iconography</h3>
					<div class="cd_component">
						<h3 class="cd_component__title">Component Title</h3>
						<div class="COMPONENT-NAME cd_component__instance">
							Fake component.
						</div>
						<div class="cd_component__markup-display">
							<pre><code class="language-markup"><script> --- </script></code></pre>
						</div>
						<div class="cd_component__style-display">
							<pre><code class="language-css">[Sass]</code></pre>
						</div>
					</div>
				</div>

				<div class="cd_component-group">
					<h3 class="cd_component-group__title">Motion / Transition</h3>
					<div class="cd_component">
						<h3 class="cd_component__title">Component Title</h3>
						<div class="COMPONENT-NAME cd_component__instance">
							Fake component.
						</div>
						<div class="cd_component__markup-display">
							<pre><code class="language-markup"><script> --- </script></code></pre>
						</div>
						<div class="cd_component__style-display">
							<pre><code class="language-css">[Sass]</code></pre>
						</div>
					</div>
				</div>

				<div class="cd_component-group">
					<h3 class="cd_component-group__title">Grid</h3>
					<div class="cd_component">
						<h3 class="cd_component__title">Component Title</h3>
						<div class="COMPONENT-NAME cd_component__instance">
							Fake component.
						</div>
						<div class="cd_component__markup-display">
							<pre><code class="language-markup"><script> --- </script></code></pre>
						</div>
						<div class="cd_component__style-display">
							<pre><code class="language-css">[Sass]</code></pre>
						</div>
					</div>
				</div>

				<div class="cd_component-group">
					<h3 class="cd_component-group__title">Component Group Title</h3>
					<div class="cd_component">
						<h3 class="cd_component__title">Component Title</h3>
						<div class="COMPONENT-NAME cd_component__instance">
							Fake component.
						</div>
						<div class="cd_component__markup-display">
							<pre><code class="language-markup"><script> --- </script></code></pre>
						</div>
						<div class="cd_component__style-display">
							<pre><code class="language-css">[Sass]</code></pre>
						</div>
					</div>
				</div>

				<div class="cd_component-group">
					<h3 class="cd_component-group__title">Component Group Title</h3>
					<div class="cd_component">
						<h3 class="cd_component__title">Component Title</h3>
						<div class="media cd_component__instance">
							<a class="media__interest" href="#" >
								<img src="http://placehold.it/65x65" alt="alt text" />
							</a>
							<div class="media__body">
								<a class="media__title" href="#">Title Link</a>
								<p class="media__text">Lorem ipsum dolor sit amet adipiscing.</p>
								<p class="media__utility-links"><a href="#">utility</a> <a href="#">utility</a></p>
							</div>
						</div>
						<div class="cd_component__markup-display">
							<pre><code class="language-markup"><script> --- </script></code></pre>
						</div>
						<div class="cd_component__style-display">
							<pre><code class="language-css">[Sass]</code></pre>
						</div>
					</div>
				</div>
			</div>
				<div class="cd_component-menu">
				<div class="cd_component-menu__masthead">
					<img class="cd_component-menu__client-logo" src="http://placehold.it/240x150" />
					<h4 class="cd_component-menu__client-name">
						Client Name
					</h4>
					<h5 class="cd_component-menu__library-name">
						Design Library
					</h5>
					<p class="cd_component-menu__library-description">
						The compoponent library and live style guide created for CLIENT to utilize in the update and maintenance of <a href="#">client-site.com</a>.
					</p>
				</div>
				<div class="cd_component-menu__navigation">
					<h2 class="cd_component-menu__column-header">Patterns</h2>
					<ul class="cd_component-menu__nav-list">
						<li class="cd_component-menu__nav-list-item">
							<a class="cd_component-menu__nav-list-link">Colors</a>
						</li>
						<li class="cd_component-menu__nav-list-item">
							<a class="cd_component-menu__nav-list-link">Typefaces &amp; Fonts</a>
						</li>

						<li class="cd_component-menu__nav-list-item">
							<a class="cd_component-menu__nav-list-link">Typography</a>
						</li>
						<li class="cd_component-menu__nav-list-item">
							<a class="cd_component-menu__nav-list-link">Iconography</a>
						</li>
						<li class="cd_component-menu__nav-list-item">
							<a class="cd_component-menu__nav-list-link">Motion / Transition</a>
						</li>
						<li class="cd_component-menu__nav-list-item">
							<a class="cd_component-menu__nav-list-link">Grid</a>
						</li>
						<li class="cd_component-menu__nav-list-item">
							<a class="cd_component-menu__nav-list-link">Text</a>
						</li>
						<li class="cd_component-menu__nav-list-item">
							<a class="cd_component-menu__nav-list-link">Buttons</a>
						</li>
						<li class="cd_component-menu__nav-list-item">
							<a class="cd_component-menu__nav-list-link">Forms</a>
						</li>
						<li class="cd_component-menu__nav-list-item">
							<a class="cd_component-menu__nav-list-link">Navigation</a>
						</li>
						<li class="cd_component-menu__nav-list-item">
							<a class="cd_component-menu__nav-list-link">Cards</a>
						</li>
						<li class="cd_component-menu__nav-list-item">
							<a class="cd_component-menu__nav-list-link">Carousels</a>
						</li>
						<li class="cd_component-menu__nav-list-item">
							<a class="cd_component-menu__nav-list-link">Pattern Name</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
		<script src="../bower_components/prism/prism.js" language="SavaScript" type="text/javascript"></script>
		<script language="JavaScript" type="text/javascript">

			$(document).ready(function() {

			});

		</script>

	</body>
</html>
