/*******

	Cordial Framework
	Scaffolding Configuration

*******/

// Base scale for rem
$scale: 16px;

// @media breakpoints
// You may not need to use these. Great for use in creating breakpoints for Neat Grids
// Also great for using the respond-to() function
// Use with breakpoint() function
$breakpoints: (
	tiny: 0px,
	extra-small: 576px,
	small: 768px,
	medium: 992px,
	large: 1200px,
	extra-large: 1350px
);
