%input--checkbox-item {
	margin: margin(extra-small) 0;

	.input--checkbox {
		position: absolute; // take it out of document flow
		opacity: 0; // hide it

		& + label {
			position: relative;
			cursor: pointer;
			padding: 0;
			@include type-sizes-responsive(small);
			font-family: font-family(text);
			margin: margin(small) 0;
			color: color(gray);
		}

		// Box.
		& + label:before {
			content: '';
			margin-right: 5px;
			display: inline-block;
			vertical-align: text-top;
			width: rem(font-size(small));
			height: rem(font-size(small));
			background: color(clear);
			border: border(hairline, gray);
			margin-top: -2px;
		}

		// Box hover
		&:hover + label:before {
			background: color(gray);
		}

		// Box focus
		&:focus + label:before {
			box-shadow: 0;
		}

		// Box checked
			&:checked + label:before {
			background: color(brand-primary);
			border: none;
		}

		// Disabled state label.
		&:disabled + label {
			color: color(gray);
			cursor: auto;
		}

		// Disabled box.
		&:disabled + label:before {
			box-shadow: none;
			background: color(gray);
		}

		// Checkmark. Could be replaced with an image
		&:checked + label:after {
			content: '';
			position: absolute;
			left: 4px;
			top: 6px;
			background: color(white);
			width: 2px;
			height: 2px;
			box-shadow: 2px 0px 0 white, 2px -2px 0 white, 2px -4px 0 white, 2px -6px 0 white;
			transform: rotate(45deg);
		}
	}
}
