// Media Object
.media {
	margin: 0;
	transition: transition(base);
	overflow: hidden;
	_overflow: visible;
	zoom: 1;

	.media__interest {
		float: left;
		margin-right: margin(base);

		.media__interest-image {
			display: block;
		}
	}

	.media__body {
		overflow: hidden;
		_overflow: visible;
		zoom: 1;

		.media__body-inner {
			.media__label {
				@extend %label;
			}

			.media__label-featured {
				display: none;
			}

			.media__title {
			}

			.media__text {

			}

			.media__date {
				display: inline-block;
			}

			.media__utility-link-list {
				display: inline-block;
				padding: padding(none);
				margin: margin(none);
				list-style: none;

				.media__utility-link-item {
					display: inline-block;

					.media__utility-links {
						@extend %link;
					}
				}
			}
		}
	}

	// image on the left
	&--interest-left {
		float: right;
		margin-right: margin(base);
		margin-left: margin(base);
	}

	&--nested {
		margin-bottom: margin(extra-small);
		margin-top: margin(extra-small);
	}
}
