// ALERT PATTERNS

// @extend %alert
$alert-patterns: (
	display: block,
	margin: margin(base) margin(none) margin(large),
	padding: 0,
	text-align: left,
	vertical-align: inherit,
	touch-action: auto,
	cursor: inherit,
	background-image: none,
	background-color: transparent,
	border: none,
	white-space: normal,
	size: base,
	name: 'alert',
	font-family: font-family(text),
	font-size: font-size(base),
	color: color(gray, extra-dark),
);

// Initialize the %link placeholder class - http://thesassway.com/intermediate/understanding-placeholder-selectors
@include construct($alert-patterns);
