// BADGE PATTERNS

// @extend %badge
$badge-patterns: (
	display: block,
	position: absolute,
	top: -4px,
	right: 0,
	margin: 0,
	padding: 0,
	height: rem(font-size(extra-small)),
	width: rem(font-size(extra-small)),
	text-align: center,
	vertical-align: inherit,
	touch-action: auto,
	cursor: inherit,
	background-image: none,
	background-color: color(orange),
	border: none,
	border-radius: radius(circle),
	white-space: normal,
	size: extra-tiny,
	name: 'badge',
	font-family: font-family(text),
	font-size: rem(font-size(extra-tiny)),
	line-height: rem(font-size(extra-small)),
	color: color(white),
	":hover": (),
	":active": (),
	elements: (),
	modifiers: (),
);

// Initialize the %link placeholder class - http://thesassway.com/intermediate/understanding-placeholder-selectors
//@include construct($badge-patterns);
