// TEXT PATTERNS

// @extend %blockquote
$text-patterns: (
	display: block,
	margin:  0 0 3.8889rem 0,
	padding: .777rem 0 0 1.6111rem,
	font-weight: inherit,
	text-align: left,
	vertical-align: inherit,
	touch-action: auto,
	cursor: inherit,
	background-image: none,
	background-color: transparent,
	border: border(none),
	border-left: border(thick, brand-primary),
	white-space: normal,
	size: base,  /* can use for preset theming within constructor */
	font-size: 2.2222rem,
	name: 'blockquote', /* used to create placeholder class name */
	font-family: font-family(text),
	color: color(brand-primary),
	elements: (),
	modifiers: (),
);

// Initialize the %link placeholder class - http://thesassway.com/intermediate/understanding-placeholder-selectors
//@include construct($text-patterns);
