// BUTTON PATTERNS

// @extend %button
$button-patterns: (
	pattern-config: (
		responsive-type: true,
		size: base,
		name: 'button',
		type-style: text,
	),
	display: block,
	white-space: normal,
	margin: 0,
	padding: 0,
	text-align: center,
	font-family: font-family(text),
	color: color(white),
	vertical-align: inherit,
	touch-action: auto,
	cursor: inherit,
	background-image: none,
	background-color: color(clear),
	border: none,
	":hover": (
		background-color: color(brand-secondary),
		text-decoration: none,
		color: color(white),
		border: border(base, transparent),
	),
	":active": (
		background-color: color(brand-secondary, dark),
		color: color(white),
		outline: none
	),
	"::before": (),
	"::after": (),
	modifiers: (
		"--test": (
			pattern-config: (
				responsive-type: true,
				size: large,
				type-style: text,
			),
		),
	),
);

// Initialize the %constructor placeholder class - http://thesassway.com/intermediate/understanding-placeholder-selectors
@include construct($button-patterns);
