// BUTTON PATTERNS

// @extend %button
$button-patterns: (
	name:'button',
	responsive-type: true,
	display: inline-block,
	margin: 0,
	padding: .8889rem 1.3889rem,
	white-space: nowrap,
	vertical-align: middle,
	font-family: font-family(text),
	font-weight: inherit,
	text-align: center,
	text-decoration: none,
	color: color(brand-primary),
	background-image: none,
	background-color: color(clear),
	border: border(base, transparent),
	border-radius: radius(base),
	touch-action: manipulation,
	cursor: pointer,
	transition: transition(base),
	":hover": (
		background-color: color(brand-secondary),
		text-decoration: none,
		color: color(white),
		border: border(base, transparent),

	),
	":active": (
		background-color: color(brand-secondary, dark),
		color: color(white),
		outline: none
	),
	elements: (),
	modifiers: (
		"--cd-nav-button": (
			responsive-type: true,
			type-style: text,
			size: base,
			display: block,
			width: 100%,
			padding: padding(extra-small) padding(none),
			text-align: left,
			border-radius: radius(small),
			border: border(hairline, clear),
			":hover": (
				color: color(brand-primary, 10, darken),
			),
			":active": (
				border-bottom: border(hairline, brand-primary),
				border-top: border(hairline, brand-primary),
				color: color(brand-primary, 10, darken),
			),
		),
		"--large": (
			responsive-type: true,
			type-style: text,
			size: base,
			padding: .8889rem 1.3889rem,
		),
		"--small": (
			responsive-type: true,
			type-style: text,
			size: small,
			padding: padding(base) padding(small),
			":hover": (
				background-color: green,
			),
			":active": (
				background-color: red,
			),
		),
		"--icon-left": (
			responsive-type: true,
			type-style: text,
			size: base,
			":before": (
				font-family: font-family(icons),
				margin-right: margin(extra-small),
				content: "",
			),
		),
		"--icon-right": (
			responsive-type: true,
			type-style: text,
			size: base,
			":after": (
				font-family: font-family(icons),
				margin-left: margin(extra-small),
				content: "",
			),
		),
		"--icon-float-right": (
			responsive-type: true,
			type-style: text,
			size: base,
			":after": (
				font-family: font-family(icons),
				margin-left: margin(extra-small),
				content: "",
				float: right,
			),
		),
	),
);

// Initialize the %constructor placeholder class - http://thesassway.com/intermediate/understanding-placeholder-selectors
@include construct($button-patterns);
