// HEADINGS PATTERNS

// @extend %heading
$heading-patterns: (
	display: block,
	margin: 0,
	padding: 0,
	text-align: left,
	vertical-align: inherit,
	touch-action: auto,
	cursor: inherit,
	background-image: none,
	background-color: transparent,
	border: border(none),
	white-space: normal,
	name: 'heading', /* used to create placeholder class name */
	font-family: font-family(display),
	color: color(brand-secondary),
	size: base,
	responsive-type: true,
	type-style: heading,
	elements: (),
	modifiers: (
		"--cd-massive": (
			responsive-type: true,
			type-style: heading,
			size: massive,
			color: color(brand-secondary),
			font-family: font-family(cd--display),
			letter-spacing: .1rem,
		),
		"--cd-extra-large": (
			responsive-type: true,
			type-style: heading,
			size: extra-large,
			color: color(brand-secondary),
			margin-bottom: 1.5556rem,
			font-family: font-family(cd--display),
			letter-spacing: .1rem,
		),
		"--cd-large": (
			responsive-type: true,
			type-style: heading,
			size: large,
			color: color(brand-secondary),
			margin-bottom: 1rem,
			font-family: font-family(cd--text),
		),
		"--cd-base": (
			responsive-type: true,
			type-style: heading,
			size: base,
			color: color(brand-secondary),
			margin-bottom: 1rem,
			font-family: font-family(cd--text),
		),
		"--cd-small": (
			responsive-type: true,
			type-style: heading,
			size: small,
			color: color(brand-secondary),
			margin-bottom: .7778rem,
			font-family: font-family(cd--text),
			letter-spacing: .1rem,
		),
		"--cd-extra-small": (
			responsive-type: true,
			type-style: heading,
			size: extra-small,
			color: color(brand-secondary),
			margin-bottom: .7778rem,
			font-family: font-family(cd--text),
			letter-spacing: .1rem,
		),
		"--cd-tiny": (
			responsive-type: true,
			type-style: heading,
			size: tiny,
			color: color(brand-secondary),
			margin-bottom: .7778rem,
			font-family: font-family(cd--text),
			letter-spacing: .1rem,
		),
		"--massive": (
			responsive-type: true,
			type-style: heading,
			size: massive,
			color: color(brand-secondary),
			font-family: font-family(display),
		),
		"--extra-large": (
			responsive-type: true,
			type-style: heading,
			size: extra-large,
			color: color(brand-secondary),
			margin-bottom: 1.5556rem,
		),
		"--large": (
			responsive-type: true,
			type-style: heading,
			size: large,
			color: color(brand-secondary),
			margin-bottom: 1rem,
		),
		"--small": (
			responsive-type: true,
			type-style: heading,
			size: small,
			color: color(brand-secondary),
			margin-bottom: .7778rem,
		),
		"--extra-small": (
			responsive-type: true,
			type-style: heading,
			size: small,
			color: color(brand-secondary),
			margin-bottom: .7778rem,
		),
		"--tiny": (
			responsive-type: true,
			type-style: heading,
			size: small,
			color: color(brand-secondary),
			margin-bottom: .7778rem,
		),
	),
);

// Initialize the %link placeholder class - http://thesassway.com/intermediate/understanding-placeholder-selectors
@include construct($heading-patterns);
