// INPUT PATTERNS

// @extend %input
$input-patterns: (
	name:'input',
	responsive-type: false,
	type-style: text,
	size: base,
	display: block,
	width: 100%,
	height: 34px,
	padding: 6px 12px,
	line-height: 1.42857143,
	color: #555,
	background-color: #fff,
	background-image: none,
	border: border(hairline, clear),
	border-radius: 0px,
	-webkit-box-shadow: none,
	box-shadow: none,
	-webkit-transition: transition(slow),
	-o-transition: transition(slow),
	transition: transition(slow),
	box-sizing: border-box,
	":hover": (
		transition: transition(slow),
	),
	":active": (
	),
	":focus": (
		outline-color: none,
		outline: none,
	),
	elements: (),
	modifiers: (),
);

// Initialize the %input placeholder class - http://thesassway.com/intermediate/understanding-placeholder-selectors
//@include construct($input-patterns);
