// LABEL PATTERNS

// @extend %label
$label-patterns: (
	display: inline-block,
	padding: .3333rem .4444rem .222rem .4444rem,
	text-align: left,
	vertical-align: inherit,
	touch-action: auto,
	cursor: inherit,
	background-image: none,
	background-color: color(text),
	border: none,
	white-space: normal,
	font-family: font-family(text),
	text-transform: uppercase,
	color: color(white),
	responsive-type: true,
	type-style: text,
	size: tiny,
	name: 'label', /* used to create placeholder class name */
	elements: (),
	modifiers: (),
);

// Initialize the %link placeholder class - http://thesassway.com/intermediate/understanding-placeholder-selectors
//@include construct($label-patterns);
