// LINK PATTERNS

// @extend %link
$link-patterns: (
	display: inline,
	margin: 0,
	padding: 0,
	text-align: left,
	vertical-align: inherit,
	touch-action: auto,
	background-image: none,
	background-color: transparent,
	border: border(none),
	transition: transition(slow),
	white-space: normal,
	size: base,  /* can use for preset theming within constructor */
	name: 'link', /* used to create placeholder class name */
	font-family: font-family(text),
	color: color(brand-primary),
	cursor: pointer,
	text-decoration: none,
	":hover": (
		color: color(brand-primary, 10, lighten),
		text-decoration: none,
	),
	":active": (
		color: color(brand-primary, 10, lighten),
	),
	elements: (),
	modifiers: (),
);

// Initialize the %link placeholder class - http://thesassway.com/intermediate/understanding-placeholder-selectors
//@include construct($link-patterns);
