// TEXT PATTERNS

// @extend %text
$text-patterns: (
	pattern-config: (
		responsive-type: true,
		size: base,
		name: 'text',
		type-style: text,
	),
	display: block,
	margin: 0,
	padding: 0,
	white-space: normal,
	font-family: font-family(text),
	font-weight: inherit,
	color: color(text),
	text-align: left,
	vertical-align: inherit,
	touch-action: auto,
	cursor: inherit,
	background-image: none,
	background-color: color(clear),
	border: border(none),
	elements: (),
	modifiers: (
		"--test": (
			pattern-config: (
				responsive-type: true,
				size: large,
				type-style: text,
			),
			color: color(brand-primary),
			letter-spacing: 3px,
			background-color: purple,
		),
		"--test2": (
			pattern-config: (
				responsive-type: false,
			),
			color: color(brand-primary),
			letter-spacing: 3px,
			background-color: brown,
			font-size: 4rem,
		),
	),
);

// Initialize the %link placeholder class - http://thesassway.com/intermediate/understanding-placeholder-selectors
@include construct($text-patterns);
