h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	font-size: inherit;
	color: inherit;
	font-weight: normal;
	@extend %heading;
}

h1,
.h1 {
	@extend %heading;
}

h2,
.h2 {
	@extend %heading;
}

h3,
.h3 {
	@extend %heading;
}

h4,
.h4 {
	@extend %heading;
}

h5,
.h5 {
	@extend %heading;
}

h6,
.h6 {
	@extend %heading;
}
