
@font-face {
    font-family: 'apercu';
    src: url('../../../../../fonts/apercu-light.eot');
    src: url('../../../../../fonts/apercu-light.eot?#iefix') format('embedded-opentype'),
         url('../../../../../fonts/apercu-light.woff') format('woff'),
         url('../../../../../fonts/apercu-light.woff2') format('woff2'),
         url('../../../../../fonts/apercu-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'eksell';
    src: url('../../../../../fonts/EksellDisplayWeb-Large.eot');
    src: url('../../../../../fonts/EksellDisplayWeb-Large.woff') format('woff'),
         url('../../../../../fonts/EksellDisplayWeb-Large.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'condiut-extra-light';
    src: url('../../../../../fonts/ConduitExLtITC.ttf');
    src: url('../../../../../fonts/ConduitExLtITC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'condiut-light';
    src: url('../../../../../fonts/ConduitITC.ttf');
    src: url('../../../../../fonts/ConduitITC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'condiut-regular';
    src: url('../../../../../fonts/ConduitRegITC.ttf');
    src: url('../../../../../fonts/ConduitRegITC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'condiut-medium';
    src: url('../../../../../fonts/ConduitMdITC.ttf');
    src: url('../../../../../fonts/ConduitMdITC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
