/*

	$type-sizes
		> type-size name
			> screen-size name

	primarily utilized to create type size classes found in _type-sizes.scss

*/

$type-sizes: (
	monolithic: ( // refers to selected font size
		extra-tiny: ( // refers to screen size map
			font-size: font-size(monolithic)*.7,  // sets the font size at the extra-tiny screen size
			line-height: lh(extra-tiny) // sets the line height at the extra-tiny screen size
		),
		tiny: (
			font-size: font-size(monolithic)*.75,
			line-height: lh(tiny)
		),
		extra-small: (
			font-size: font-size(monolithic)*.75,
			line-height: lh(extra-small)
		),
		small: (
			font-size: font-size(monolithic)*0.875,
			line-height: lh(small)
		),
		medium: (
			font-size: font-size(monolithic),
			line-height: lh(base)
		),
		large: (
			font-size: font-size(monolithic)*1.1,
			line-height: lh(large)
		),
		extra-large: (
			font-size: font-size(monolithic)*1.16,
			line-height: lh(extra-large)
		)
	),
	massive: (
		extra-tiny: (
			font-size: font-size(massive)*.7,
			line-height: lh(extra-tiny)
		),
		tiny: (
			font-size: font-size(massive)*.73,
			line-height: lh(tiny)
		),
		extra-small: (
			font-size: font-size(massive)*.75,
			line-height: lh(extra-small)
		),
		small: (
			font-size: font-size(massive)*0.875,
			line-height: lh(small)
		),
		medium: (
			font-size: font-size(massive),
			line-height: lh(base)
		),
		large: (
			font-size: font-size(massive)*1.1,
			line-height: lh(large)
		),
		extra-large: (
			font-size: font-size(massive)*1.16,
			line-height: lh(extra-large)
		)
	),
	extra-large: (
		extra-tiny: (
			font-size: font-size(extra-large)*.7,
			line-height: lh(extra-tiny)
		),
		tiny: (
			font-size: font-size(extra-large)*.73,
			line-height: lh(tiny)
		),
		extra-small: (
			font-size: font-size(extra-large)*.75,
			line-height: lh(extra-small)
		),
		small: (
			font-size: font-size(extra-large)*.875,
			line-height: lh(small)
		),
		medium: (
			font-size: font-size(extra-large),
			line-height: lh(base)
		),
		large: (
			font-size: font-size(extra-large)*1.1,
			line-height: lh(large)
		),
		extra-large: (
			font-size: font-size(extra-large)*1.3,
			line-height: lh(extra-large)
		)
	),
	large: (
		extra-tiny: (
			font-size: font-size(large)*.7,
			line-height: lh(extra-tiny)
		),
		tiny: (
			font-size: font-size(large)*.75,
			line-height: lh(tiny)
		),
		extra-small: (
			font-size: font-size(large)*.75,
			line-height: lh(extra-small)
		),
		small: (
			font-size: font-size(large)*.875,
			line-height: lh(small)
		),
		medium: (
			font-size: font-size(large),
			line-height: lh(base)
		),
		large: (
			font-size: font-size(large)*1.1,
			line-height: lh(large)
		),
		extra-large: (
			font-size: font-size(large)*1.3,
			line-height: lh(extra-large)
		)
	),
	base: (
		extra-tiny: (
			font-size: font-size(base)*.7,
			line-height: lh(extra-tiny)
		),
		tiny: (
			font-size: font-size(base)*.8,
			line-height: lh(tiny)
		),
		extra-small: (
			font-size: font-size(base)*.8,
			line-height: lh(small)
		),
		small: (
			font-size: font-size(base)*.875,
			line-height: lh(small)
		),
		medium: (
			font-size: font-size(base),
			line-height: lh(base)
		),
		large: (
			font-size: font-size(base)*1.1,
			line-height: lh(large)
		),
		extra-large: (
			font-size: font-size(base)*1.3,
			line-height: lh(extra-large)
		)
	),
	small: (
		extra-tiny: (
			font-size: font-size(small)*.7,
			line-height: lh(extra-tiny)
		),
		tiny: (
			font-size: font-size(small)*.875,
			line-height: lh(tiny)
		),
		extra-small: (
			font-size: font-size(small)*.875,
			line-height: lh(extra-small)
		),
		small: (
			font-size: font-size(small),
			line-height: lh(small)
		),
		medium: (
			font-size: font-size(small),
			line-height: lh(base)
		),
		large: (
			font-size: font-size(small),
			line-height: lh(large)
		),
		extra-large: (
			font-size: font-size(small),
			line-height: lh(extra-large)
		)
	),
	extra-small: (
		extra-tiny: (
			font-size: font-size(extra-small)*.7,
			line-height: lh(extra-tiny)
		),
		tiny: (
			font-size: font-size(extra-small),
			line-height: lh(tiny)
		),
		extra-small: (
			font-size: font-size(extra-small),
			line-height: lh(extra-small)
		),
		small: (
			font-size: font-size(extra-small),
			line-height: lh(small)
		),
		medium: (
			font-size: font-size(extra-small),
			line-height: lh(base)
		),
		large: (
			font-size: font-size(extra-small),
			line-height: lh(large)
		),
		extra-large: (
			font-size: font-size(extra-small),
			line-height: lh(extra-large)
		)
	),
	tiny: (
		extra-tiny: (
			font-size: font-size(tiny)*.7,
			line-height: lh(extra-tiny)
		),
		tiny: (
			font-size: font-size(tiny),
			line-height: lh(tiny)
		),
		extra-small: (
			font-size: font-size(tiny),
			line-height: lh(extra-small)
		),
		small: (
			font-size: font-size(tiny),
			line-height: lh(small)
		),
		medium: (
			font-size: font-size(tiny),
			line-height: lh(base)
		),
		large: (
			font-size: font-size(tiny),
			line-height: lh(large)
		),
		extra-large: (
			font-size: font-size(tiny),
			line-height: lh(extra-large)
		)
	),
	extra-tiny: (
		extra-tiny: (
			font-size: font-size(extra-tiny)*.7,
			line-height: lh(extra-tiny)
		),
		tiny: (
			font-size: font-size(extra-tiny),
			line-height: lh(tiny)
		),
		extra-small: (
			font-size: font-size(extra-tiny),
			line-height: lh(extra-small)
		),
		small: (
			font-size: font-size(extra-tiny),
			line-height: lh(small)
		),
		medium: (
			font-size: font-size(extra-tiny),
			line-height: lh(base)
		),
		large: (
			font-size: font-size(extra-tiny),
			line-height: lh(large)
		),
		extra-large: (
			font-size: font-size(extra-tiny),
			line-height: lh(extra-large)
		)
	)
);

$heading-sizes: (
	monolithic: (
		tiny: (
			font-size: font-size(monolithic)*.75,
			line-height: lh(display),
		),
		extra-small: (
			font-size: font-size(monolithic)*.75,
			line-height: lh(display),
		),
		small: (
			font-size: font-size(monolithic)*0.875,
			line-height: lh(display),
		),
		medium: (
			font-size: font-size(monolithic),
			line-height: lh(display),
		),
		large: (
			font-size: font-size(monolithic)*1.1,
			line-height: lh(display),
		),
		extra-large: (
			font-size: font-size(monolithic)*1.15,
			line-height: lh(display),
		)
	),
	massive: (
		tiny: (
			font-size: font-size(massive)*.75,
			line-height: lh(display),
		),
		extra-small: (
			font-size: font-size(massive)*.75,
			line-height: lh(display),
		),
		small: (
			font-size: font-size(massive)*0.875,
			line-height: lh(display),
		),
		medium: (
			font-size: font-size(massive),
			line-height: lh(display),
		),
		large: (
			font-size: font-size(massive)*1.1,
			line-height: lh(display),
		),
		extra-large: (
			font-size: font-size(massive)*1.15,
			line-height: lh(display),
		)
	),
	extra-large: (
		tiny: (
			font-size: font-size(extra-large)*.8889,
			line-height: lh(display),
		),
		extra-small: (
			font-size: font-size(extra-large)*.8889,
			line-height: lh(display),
		),
		small: (
			font-size: font-size(extra-large)*.9,
			line-height: lh(display),
		),
		medium: (
			font-size: font-size(extra-large),
			line-height: lh(display),
		),
		large: (
			font-size: font-size(extra-large)*1.1,
			line-height: lh(display),
		),
		extra-large: (
			font-size: font-size(extra-large)*1.15,
			line-height: lh(display),
		)
	),
	large: (
		tiny: (
			font-size: font-size(large),
			line-height: lh(display),
		),
		extra-small: (
			font-size: font-size(large),
			line-height: lh(display),
		),
		small: (
			font-size: font-size(large),
			line-height: lh(display),
		),
		medium: (
			font-size: font-size(large),
			line-height: lh(display),
		),
		large: (
			font-size: font-size(large),
			line-height: lh(display),
		),
		extra-large: (
			font-size: font-size(large),
			line-height: lh(display),
		)
	),
	base: (
		tiny: (
			font-size: font-size(base),
			line-height: lh(display),
		),
		extra-small: (
			font-size: font-size(base),
			line-height: lh(display),
		),
		small: (
			font-size: font-size(base),
			line-height: lh(display),
		),
		medium: (
			font-size: font-size(base),
			line-height: lh(display),
		),
		large: (
			font-size: font-size(base),
			line-height: lh(display),
		),
		extra-large: (
			font-size: font-size(base),
			line-height: lh(display),
		)
	),
	small: (
		tiny: (
			font-size: font-size(small),
			line-height: lh(display),
		),
		extra-small: (
			font-size: font-size(small),
			line-height: lh(display),
		),
		small: (
			font-size: font-size(small),
			line-height: lh(display),
		),
		medium: (
			font-size: font-size(small),
			line-height: lh(display),
		),
		large: (
			font-size: font-size(small),
			line-height: lh(display),
		),
		extra-large: (
			font-size: font-size(small),
			line-height: lh(display),
		)
	),
	extra-small: (
		tiny: (
			font-size: font-size(extra-small),
			line-height: lh(display),
		),
		extra-small: (
			font-size: font-size(extra-small),
			line-height: lh(display),
		),
		small: (
			font-size: font-size(extra-small),
			line-height: lh(display),
		),
		medium: (
			font-size: font-size(extra-small),
			line-height: lh(display),
		),
		large: (
			font-size: font-size(extra-small),
			line-height: lh(display),
		),
		extra-large: (
			font-size: font-size(extra-small),
			line-height: lh(display),
		)
	),
	tiny: (
		tiny: (
			font-size: font-size(tiny),
			line-height: lh(display),
		),
		extra-small: (
			font-size: font-size(tiny),
			line-height: lh(display),
		),
		small: (
			font-size: font-size(tiny),
			line-height: lh(display),
		),
		medium: (
			font-size: font-size(tiny),
			line-height: lh(display),
		),
		large: (
			font-size: font-size(tiny),
			line-height: lh(display),
		),
		extra-large: (
			font-size: font-size(tiny),
			line-height: lh(display),
		)
	)
);

// Add responsive type
@mixin responsive-type($modifier-map) {
	@if map-get($modifier-map, responsive-type) == true {
		@if map-get($modifier-map, type-style) == text {
			@include type-sizes-responsive(map-get($modifier-map, size));
			//@debug #{map-get($modifier-map, size)};
		} @else if map-get($modifier-map, type-style) == heading {
			@include heading-sizes-responsive(map-get($modifier-map, size));
		}
	}
}

// Responsive type
@mixin type-sizes-responsive($size) {
	font-size: rem(map-get-deep($type-sizes, $size, tiny, font-size));
	line-height: rem(map-get-deep($type-sizes, $size, tiny, line-height) * map-get-deep($type-sizes, $size, tiny, font-size));

	@media screen and (min-width: breakpoint(extra-small)) {
		font-size: rem(map-get-deep($type-sizes, $size, extra-small, font-size));
		line-height: rem(map-get-deep($type-sizes, $size, extra-small, line-height) * map-get-deep($type-sizes, $size, extra-small, font-size));
	}

	@media screen and (min-width: breakpoint(small)) {
		font-size: rem(map-get-deep($type-sizes, $size, small, font-size));
		line-height: rem(map-get-deep($type-sizes, $size, small, line-height) * map-get-deep($type-sizes, $size, small, font-size));
	}

	@media screen and (min-width: breakpoint(medium)) {
		font-size: rem(map-get-deep($type-sizes, $size, medium, font-size));
		line-height: rem(map-get-deep($type-sizes,$size, medium, line-height) * map-get-deep($type-sizes, $size, medium, font-size));
	}

	@media screen and (min-width: breakpoint(large)) {
		font-size: rem(map-get-deep($type-sizes, $size, large, font-size));
		line-height: rem(map-get-deep($type-sizes, $size, large, line-height) * map-get-deep($type-sizes, $size, large, font-size));
	}
}

@mixin heading-sizes-responsive($size) {
	font-size: rem(map-get-deep($heading-sizes, $size, tiny, font-size));
	line-height: rem(map-get-deep($heading-sizes, $size, tiny, line-height) * map-get-deep($heading-sizes, $size, tiny, font-size));

	@media screen and (min-width: breakpoint(extra-small)) {
		font-size: rem(map-get-deep($heading-sizes, $size, extra-small, font-size));
		line-height: rem(map-get-deep($heading-sizes, $size, extra-small, line-height) * map-get-deep($heading-sizes, $size, extra-small, font-size));
	}

	@media screen and (min-width: breakpoint(small)) {
		font-size: rem(map-get-deep($heading-sizes, $size, small, font-size));
		line-height: rem(map-get-deep($heading-sizes, $size, small, line-height) * map-get-deep($heading-sizes, $size, small, font-size));
	}

	@media screen and (min-width: breakpoint(medium)) {
		font-size: rem(map-get-deep($heading-sizes, $size, medium, font-size));
		line-height: rem(map-get-deep($heading-sizes, $size, medium, line-height) * map-get-deep($heading-sizes, $size, medium, font-size));
	}

	@media screen and (min-width: breakpoint(large)) {
		font-size: rem(map-get-deep($heading-sizes, $size, large, font-size));
		line-height: rem(map-get-deep($heading-sizes, $size, large, line-height) * map-get-deep($heading-sizes, $size, large, font-size));
	}
}
